.background{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.head{
    color: #FFFFFF;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
}

.down{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.register_button{
    color: #FFFFFF;
    background-color: #A41045;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    box-shadow: 0 0 20px #A41045, 0 0 40px #A41045;
    transition: background-color 0.3s ease;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 110px;
}

.left_content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 100px;
    width: 40%;
    gap: 30px;
}

.header_logo{
    width: 650px;
    height: 650px;
}

.right_content{
    display: flex;
    justify-content: end;
    align-items: end;
}

.register_button:hover {
    transition: background-color 0.5s ease, letter-spacing 0.5s ease;
    background-color: #18457C;
    color: #0A0C10;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 5px #18457C, 0 0 15px #18457C, 0 0 30px #18457C, 0 0 50px #18457C;
}

.about_us{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 7%;
    width: 40%;
}

.about_head{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.about_content{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

.middle_theme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.theme_name{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .background{
        background-size: cover;
    }
    .header_logo{
        display: none;
    }
    .head{
        color: #FFFFFF;
        font-size: 10px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
    }
    .register_button{
        padding: 2px 2px;
        font-size: 10px;
    }
    .theme_name{
        font-size: 10px;
    }

}

