.background_navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(150px);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 1rem;
    margin-top: 110px;
    color: #FFFFFF;
    width: 85%;
    height: 65px;
    line-height: 65px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}

.navbar:hover{
    box-shadow: 0 0 10px #A41045, 0 0 20px #A41045;
}

.clickable {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.router {
    font-size: 18px;
    padding: 0 1rem;
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform .65s cubic-bezier(0.4, 0, 0.2, 1);
}

.router:hover{
    transform: rotateX(90deg);
}

.router::after{
    background: linear-gradient(120deg, #E52996, #18457C);
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: inherit;
    color: #FFFFFF;
    transform: rotateX(-90deg);
    transform-origin: top;
    width: 70%;
    height: 100%;
    border-radius: 15px;
}

.navbar_logo{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.clickable:nth-child(odd){
    animation: up 1s forwards;
}

.clickable:nth-child(even){
    animation: down 1s forwards;
}

@keyframes up {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
