footer {
    background-color: #0A0C10;
    padding: 40px 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.register-section {
    display: flex;
    align-items: center;
}

.register-button {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 20px #A41045, 0 0 40px #A41045;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    transition: background-color 0.3s ease, letter-spacing 0.3s ease;
    background-color: #18457C;
    color: #0A0C10;
    font-weight: bolder;
    letter-spacing: 3px;
    box-shadow: 0 0 10px #18457C, 0 0 25px #18457C, 0 0 50px #18457C, 0 0 100px #18457C;
    margin-left: 3%;
}

.footer-bottom {
    text-align: center;
    margin: 20px 0;
}

.footer-bottom p {
    margin: 0;
    color: #bbb;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 5px;
}

.footer-legal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: #bbb;
    margin-top: 20px;
}

.footer-legal a {
    color: #bbb;
    text-decoration: none;
    margin: 0 10px;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 150px;
}
